.section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 241px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.leftSide {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.title {
    font-size: 24px;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    margin-top: 1rem;
    overflow-y: auto;
}

.servicesDiv {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}