.cardD {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}
  
.cardHeaderD {
    background-color: #181830;
    color: #DDD;
    padding: 15px;
    text-align: center;
}

.deviceImg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
  
.cardBodyD {
    padding: 0 20px;
}
  
.cardBodyD p {
    font-size: 16px;
    line-height: 1.5;
    max-height: 100px;
    overflow-y: auto;
    padding: 0 6px;
}

.buttonsDivD {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ulItems {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    list-style-type: none;
    padding: 0 6px;
}

.button1 {
    color: #286A24;
}

.button2 {
    color: #181830;
}

.statusAvailable, .statusInUse, .statusDamaged, .statusRepairing {
    font-weight: bold;
    font-size: 12px;
}

.statusAvailable {
    background-color: greenyellow;
}

.statusInUse {
    background-color: gold;
}

.statusDamaged {
    background-color: rgb(255, 23, 23);
    color: #FFF;
}

.statusRepairing {
    background-color: skyblue;
}