.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
    font-size: 14px;
}

.main, .top, .mid, .bottom {
    background-color: #181830;
    color: #c5c5c5;
}

.main::-webkit-scrollbar {
    width: 0px;
}

.main::-webkit-scrollbar-thumb {
    background: #181830;
}

.mid {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    row-gap: 6px;
}

.profileName {
    font-weight: 600;
    font-size: 16px;
}

.bottom {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding-top: 2rem;
}

.listTitle {
    margin: 1rem;
    font-weight: 600;
}

.linking {
    text-decoration: none;
    color: #c5c5c5;
}