.toolbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul {
    list-style-type: none;
    display: flex;
    column-gap: 2rem;
    margin-right: 2rem;
}