.main {
    max-width: 100vw;
    max-height: 100vh;
}

.toolbarAppBar {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: #181830;
    height: 79.41px;
}

.drawerHeaderLogo {
    background-color: #181830;
    border: 1px solid yellow;
}

.enterpriseLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    margin: .25rem;
}

.itemlistcontainer {
    padding: 2rem;
}