.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
    margin-left: 0rem;
}

.title {
    font-size: 24px;
}

.subtitle {
    font-weight: normal;
}

.todayIs {
    display: inline;
    font-weight: bold;
    color: #888;
}

.cardContainer {
    display: flex;
    width: calc(700px + 2rem*2);
    flex-wrap: wrap;
    margin-top: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
}

.card {
    width: 350px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    box-shadow: 1px 1px 5px 5px rgba(230, 230, 230, 0.8);
    border-radius: 20px;
}

.rowCardData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.cardStatus {
    font-weight: bold;
    text-transform: uppercase;
}

.quantity {
    font-size: 38px;
}

.quantityIconDiv {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.twoColumnsDiv {
    display: flex;
}

.brokenByAreaDiv {
    box-shadow: 1px 1px 5px 5px rgba(230, 230, 230, 0.8);
    border-radius: 20px;
    padding: 16px;
    margin-top: 2rem;
    max-width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.brokenByAreaDiv::-webkit-scrollbar {
    width: 0px;
}

.brokenByAreaDiv::-webkit-scrollbar-thumb {
    background: #181830;
}

.brokenByArea {
    font-weight: bold;
}

.brokenByAreaColumn {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
}

.area {
    font-size: 16px;
}